.gauge {
    width: 300px;
    height: 200px;
}

html,
body {
    height: 100%;
 
    margin: 0;
  
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
   
    align-items: center;
   
    justify-content: flex-start;
    text-align: center;
   
    color: #feebff;
    background-color: #4e1352;
}

.needle {
    transform-origin: 125px 100px;
    /* match the new needle base */
    transition: transform 0.5s ease-out;
}

.gauge-container {
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    height: 300px;
    /* adjust as needed */
}


h1 {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

#name {
    margin: 15px;
    padding: 2px;
}

#submit {
    margin: 15px;
}

#title {
    width: 100vw;
    background-color: rgb(212, 75, 183);
}

#main-start {
    padding-top: 10px;
    font-size: 25px;
}

.input-container {
    width: 50vw;   
    margin: 20px auto; 
}

.input-container input {
    width: 50vw;
    border: none;                 
    border-bottom: 2px solid #fcafff;  
    outline: none;
    font-size: 25px;
    padding: 4px 0;
    background: transparent;
    color: #fdc6ff;
}

/* translucent placeholder */
#name::placeholder {
    color: #fdc6ffb9;
}

/* optional: highlight line on focus */
.input-container input:focus {
    border-bottom-color: #a336a7;
}


.form-inline {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 10px;             
    margin: 20px auto;      
}



.form-inline input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.4); 
}

.form-inline input[type="submit"] {
    width: 50px;
    padding: 10px;
    border: none;
    background-color: #a336a7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-inline input[type="submit"]:hover {
    background-color: #7d2780; 
}

#score {
    font-size: 100px;   
    margin-top: 10px;
}

#score-comment {
    font-size: 30px;
}
